@font-face {
    font-family: 'Mv Bodu - MyCustomFont';
    src: url('../fonts/MVBodu.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'MV Waheed - MyCustomFont';
    src: url('../fonts/MVWaheed.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Easa Galan Hima  - MyCustomFont';
    src: url('../fonts/EasaGalanHima.ttf') format('truetype');
    font-display: swap;
}


h1 *,
h2 *,
h3 *,
h4 *,
h5 *,
h6 * {
    font-family: 'Mv Bodu - MyCustomFont', sans-serif !important;
}

.fl-module-content p {
    font-family: 'Easa Galan Hima  - MyCustomFont', sans-serif !important;
}

body {
    /* font-family: 'MV Waheed - MyCustomFont', sans-serif !important; */
}